.badge {
	padding: 0.3rem;
	margin: 0 0 0.6rem 0.3rem;
	position: relative;
	font-size: 0.8rem;
	color: white;
	border-radius: 0.8rem;
	font-weight: bold;
	display: inline-block;

	&.primary {
		background: #3F51B5;
	}

	&.success {
		background: #4CAF50;
	}

	&.danger {
		background: #f44336;
	}

	&.info {
		background: #2196F3;
	}

	&.warn {
		background: #FFC107;
		color: #212121;
	}

	&.dark {
		background: #455A64;
	}

	&.light {
		background: #CFD8DC;
		color: #212121;
	}
}