#footer {
	position: relative;
	margin: 0;
	font-feature-settings: normal;
	padding: 1rem;

	&>p {
		margin: 0;
		font-size: 12pt;
	}

	.container {
		margin-top: 1rem;
	}

	ul {
		-webkit-padding-start: 0;
		padding-left: 0;
		display: block;
		box-align: center;
		-moz-box-align: center;
		-webkit-box-align: center;
		-ms-box-align: center;
	}

	li {
		display: inline;
		list-style-type: none;
		&:not(:last-child):after {
			content: " :: ";
			color: #ccc;
			position: relative;
			margin: 0 0.4rem;
		}

	}
}

.footer-left {
	text-align: left;
	font-size: 10pt;
	height: 64px;
}

.footer-right {
	text-align: right;
	font-size: 10pt;
	height: 64px;
}

.footer-middle {
	img {
		width: 64px;
		height: auto;
		vertical-align: middle;
		transition: all 0.1s ease-in;
		&:hover {
			transform:rotateZ(45deg);
			filter: drop-shadow(0px 0px 4px black);
		}
	}

	a>img {
		&:hover, &:link, &:active, &:visited {
			text-decoration-line: none;
		}
	}
}


@media only screen and (max-width: 800px) {
	.footer-left, .footer-right {
		text-align: center;
		height: 1.2rem;
	}
}
