@import "_variables.scss";

input[type="text"] {
	background: transparent;
	border: none;
	border-bottom: solid 1px $shadow;
	padding: 0.4rem;
	margin: 0.4rem;

	&:focus {
		border-bottom: solid 2px $accent;
	}

	&:disabled {
		border-bottom: solid 1px $shadow-light;
	}
	outline: none;

}

button {
	background: $window-background;
	border: 0;
	padding: 0.4rem;
	margin: 0.4rem;
	
	box-shadow: 0 0 $shadow-depth $shadow;

	transition: all 0.05s ease-out;
	outline: none;

	&:hover, &:focus {
		box-shadow: 0 0 $shadow-depth-hover $shadow;
	}

	&:active {
		transform: scale(.99);
		box-shadow: 0 0 $shadow-depth-push $shadow;
	}

	&:disabled {
		box-shadow: 0 0 $shadow-depth $shadow-light;
		color: $window-disabled-background;
	}
}

.form-misskey {
	margin-top: 1rem;
}

.twitter {
	background: #55acee;
	color: $white;
}

.misskey {
	background: #2FA2BB;
	color: $white;
}