$background: #E3F2FD;
$background2: #90CAF9;
$foreground: #0D47A1;
$accent: #2196F3;
$link: #2196F3;
$link-hover: #2196F3;
$link-active: #1976D2;
$black: #37474F;
$white: #FAFAFA;
$shadow: $black;
$shadow-light: #90A4AE;
$window-background: rgba(250,250,250, 0.5);