@import "_variables.scss";

* {
	font-feature-settings: "palt" 1;
}

body {
	margin: 0;
	font-family: -apple-system, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "メイリオ", sans-serif;
	background-color: $background;
	background: linear-gradient($background, $background2);
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

	color: $foreground;
	text-align: center;
}

// styles for typography
@import "_typography.scss";

// styles for footer
@import "_footer.scss";

// index.html
@import "_index.scss";

// badge ui
@import "_badge.scss";

// badge ui
@import "_alert.scss";

// form styles
@import "_form.scss";

// grid system
@import "_simple-grid.scss";