extends ../_layout

block title
	title 二次創作ガイドライン - Xeltica
	+og(
		"二次創作ガイドライン - Xeltica", 
		"うちの子を含むゼルチカ著作のキャラクターに関するガイドラインです。",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		false
		)
	
block body
	header#header.root
		h1 
			a(href="/") Xeltica
	
	main.left
		h2 二次創作ガイドライン
		p これは、ゼルチカのうちの子や、私が開発したゲームのオリジナルキャラクターなど、私が権利を保有するすべてのキャラクターにおける二次創作についてのガイドラインです。	
		h3 配布について
		p 二次創作物の配布については自由に行ってもらって構いません。また、許可申請などの強制はいたしません。報告してもらえれば喜んで見に行きますが。
		h3 R指定について
		p R-18, R-18G共に禁止しません。TPOを守って公開してもらえればと。

		h3 許可事項

		ul
			li 二次創作を作ること
			li 二次創作を私的に楽しむこと
			li 二次創作物を、インターネット上に公開すること
			li 二次創作物を、紙媒体などで、現実にて頒布すること
			li 二次創作物を(コミケ頒布のような)商業を目的と<strong>せずに</strong>販売すること

		h2 禁止事項
		
		p 本項に反する使い方が確認された場合、削除要請を行います。

		ul
			li 二次創作を商用、営利目的で販売すること(見積もり等相談には応じますので、ご連絡ください)
			li 二次創作を商業におけるマスコットとして使うこと
			li 二次創作の元となるキャラクターをあたかも自分のオリジナルキャラクターであるかのように扱うこと
			li 一次創作（私の制作したコンテンツ）を無断で使うこと
			li 二次創作を、反社会的組織や宗教関係に利用すること
			li その他、ゼルチカが不適切と判断したこと

		p マナーを守って楽しい創作を。