extends ../_layout

block title
	title 二次創作ガイドライン - Xeltica
	+og(
		"二次創作ガイドライン - Xeltica", 
		"うちの子を含むゼルチカ著作のキャラクターに関するガイドラインです。",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		false
		)
	
block body
	header#header.root
		h1 
			a(href="/") Xeltica
	
	main.left
		h2 二次創作ガイドライン
		p これは、私が権利を保有するすべての著作物における二次創作についてのガイドライン(以下、本ガイドラインとする)です。	

		h3 著作物の定義
		p 本ガイドラインにおいて、著作物とは次のものを指します。
		ol
			li アレンジでない、オリジナルの楽曲
			li うちの子のキャラクター
			li ギャラリーに掲載されている、作者がゼルチカである画像
			li 私が開発したソフトウェア

		h3 許可事項

		ol
			li 二次創作を作ること。
			li 二次創作を私的に楽しむこと。
			li 二次創作物を、インターネット上に公開すること。
			li 二次創作物を、紙媒体などで、現実にて頒布すること。
			li 二次創作物を同人活動の一環で販売すること。
			li R15, R18, R18-G などの全年齢対象でない利用


		h3 禁止事項
		
		p 本項に反する使い方が確認された場合、法的措置を取らせていただくことがあります。

		ol
			li 二次創作を無断で商用目的（企業、法人の方による営利目的）で販売すること(見積もり等相談には応じますので、ご連絡ください)。
			li 二次創作を無断で商業におけるマスコットとして使うこと。
			li 二次創作であることを明示せず、あたかも自分のオリジナルであるかのように公開すること。
			li 一次創作（私の制作したコンテンツ）を無断で使うこと。
			li 反社会的組織、宗教組織、政治団体による利用。
			li その他、ゼルチカが不適切と判断したこと。

		h3 義務

		p 二次創作物を利用する場合、次のことを必ず守ってください。

		ol
			li 二次創作であることを明示すること。
			li 出典元として https://xeltica.work を必ず掲載すること。
			li 派生元としてゼルチカの名前を必ず掲載すること。
			li 次のことを禁止事項として必ず設定すること。
				ol
					li 二次創作を無断で商業におけるマスコットとして使うこと。
					li 反社会的組織、宗教組織、政治団体による利用。

		p 二次創作によるトラブルについて、ゼルチカは一切責任を負いかねます。

		p なお、本ガイドラインは二次創作物の利用規約を定めるものではありません。二次創作物については、その作者が示す規約に従ってください。

		p マナーを守って楽しい創作を。

		p 2019/8/10 改訂