@import 'xeltica-design';

._article, footer {
  padding: 64px 128px;
}

@media screen and (max-width: 900px) {
  ._article, footer {
    padding: 32px 16px;
  }
}

@media screen and (max-width: 640px) {
  ._article, footer {
    text-align: center;
  }
}
