@import './colors';

$accent: $md-light-blue-700;
$primary: $md-light-green-500;
$secondary: $md-blue-grey-500;
$white: $md-white;
$black: $md-black;
$dark-gray: $md-grey-800;
$gray: $md-grey-700;
$light-gray: $md-grey-400;
$disabled-gray: $md-grey-500;
$barSize: 64px;
