extends _layout


block title
	title キャラクター - Xeltica
	+og(
		"キャラクター- Xeltica", 
		"ゼルチカのオリジナルキャラクターに関するページです。",
		"創作, オリキャラ, Xeltica",
		"assets/cat.jpg",
		false
		)
	meta(name="theme-color", content="#f44336")

block css
	+css("/css/char")
block script
	+js("/js/char")

block body
	header#header.root
		h1 
			a(href="/") Xeltica
			|  / Char

	nav.root
		.char-selector
			input.char#s_citrine(type="radio", name="char", checked="")
			label(for="s_citrine")
			input.char#s_kaho(type="radio", name="char")
			label(for="s_kaho")
		hr
	main#views.root
		p 二次創作については
			a(href="/char/guideline.html") ガイドライン
			| をご確認ください。
		#v_citrine.view
			.card.container
				.row
					.col-4
						img.rounded.fluid(src="/assets/gallery/mi4_citrine.png", alt="Citrine")
					.col-6.align-left
						h1 シトリン
						p 　本名不詳。4月10日生まれの20歳。
						p 
							span.nobr フリーゲームの改造を通して、
							span.nobr プログラミングについて知る。
							span.nobr C#を得意言語とする。
						p 
							span.nobr 技術の流行への追従は早いが、
							span.nobr ファッションなどには無頓着。
							span.nobr 圧倒的インドア派、
							span.nobr 陰キャラ、
							span.nobr 猫好き。
						p 
							span.nobr 高校生のときは読書が趣味と
							span.nobr 自称していたらしいが、
							span.nobr 読んでいるのは昔も今も
							span.nobr 技術書ばかり。
							span.nobr 本人曰く「ブックカバーしてれば
							span.nobr 問題ない」。
						p 
							span.nobr 普段は冷静だが、
							span.nobr 好きな分野の話題になると
							span.nobr 早口になる典型的オタク。
						p
							span.nobr 運動はあまりしないため、
							span.nobr 身体能力が著しく低い。
						p
							span.nobr 休日は大抵ゲームに明け暮れる。
							span.nobr カホに誘われて音楽ゲームも始めたが、
							span.nobr 苦手らしい。
		#v_kaho.view
			.card.container
				.row
					.col-4
						img.rounded.fluid(src="/assets/gallery/mi4_kaho.png", alt="Kaho")
					.col-6.align-left
						h1 カホ
						p 本名「幸田 歌帆」。7月10日生まれの18歳。
						p 
							span.nobr 作曲が得意。
							span.nobr シトリンの作るゲームに
							span.nobr 曲提供したこともある。
						p
							span.nobr ヘッドホンに拘りがあり、
							span.nobr 使わない時も付けている。
							span.nobr 本人曰く、つけていないと
							span.nobr 気が済まないらしい。
						p
							span.nobr 音楽ゲームも趣味の一つで、
							span.nobr 腕前は県内ランキングに載るほど。
						p
							span.nobr 鍵盤楽器の練習をしているが、
							span.nobr 苦手なので作曲時は手打ち。
						p
							span.nobr 比較的外向的で、友達も多い。