extends _layout

mixin article(title, link, linkText)
	article.card
		.card-body
			h1=title
			block
		.card-command
			a(href=link)= linkText ? linkText : "詳細..."

block title
	title Xeltica
	+og(
		"Xeltica", 
		"Webとネイティブのアプリと、ゲームを作る人",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		"assets/cat.jpg",
		true
		)
	meta(name="theme-color", content="#f44336")
	
block body
	.root
		header#header
			h1 Xeltica
		main
			.container
				.row
					.col-4
						img.face(src="assets/cat.jpg")
					.col-8.desc
						p 
							span.nobr ウェブアプリ、
							span.nobr ネイティブアプリ、
							span.nobr ゲームなどを
							span.nobr 作っています。
						p 
							a(href="//axella.jp") Axella 
							| の管理人やってます。
						
						ul.buttons
							li.button#twitter
								a(href="https://twitter.com/XelticaWorks"): span.fab.fa-twitter.fa-fw
								.tooltip Twitter
							li.button#soundcloud
								a(href="https://soundcloud.com/Xeltica"): span.fab.fa-soundcloud.fa-fw
								.tooltip SoundCloud
							li.button#github
								a(href="https://github.com/citringo"): span.fab.fa-github.fa-fw
								.tooltip GitHub
							li.button#misskey
								a(href="https://misskey.xyz/xeltica") Mi
								.tooltip Misskey
							li.button#youtube
								a(href="https://www.youtube.com/channel/UCljiMx6DoPrDnsy6uqHlPTw"): span.fab.fa-youtube.fa-fw
								.tooltip YouTube
							li.button#wordpress
								a(href="https://blog.citringo.net"): span.fab.fa-wordpress.fa-fw
								.tooltip ブログ
							li.button#musica
								a(href="https://musica.citringo.net"): span.fas.fa-music.fa-fw
								.tooltip オリジナル曲集

							+article("プロダクト", "/product.html")
								p 僕が制作したソフトウェアやゲームを公開しています。
							+article("ギャラリー", "/gallery.html")
								p 頂き物のイラスト一覧。
							+article("キャラクター", "/char.html")
								p うちの子のページです。
							+article("リンク集", "/product.html")
								p 私の知人のウェブサイト紹介。
								