extends ../_layout

block title
	title Fan-made guideline - Xeltica
	+og(
		"Fan-made guideline - Xeltica", 
		"This is a guideline about using my all original character.",
		"Creation, Game, Apps, Engineering, Xeltica",
		"assets/cat.jpg",
		false
		)
	meta(name="theme-color", content="#f44336")
	
block body
	header#header.root
		h1 
			a(href="/en") Xeltica
			|  / Guideline
	
	main.root.align-left
		h1 Fan-made guideline
		
		p This is a guideline of using my all character.
		
		h2 About distributing
		
		p You can distribute your fan-made works free, and you don't have to request me permissions.

		h2 Restricted Contents

		p I won't deny both R-18 and R-18G. However, I want you to publish it carefully.

		h2 Allowed things

		ul
			li To make fan-made works
			li To enjoy fan-made works in private.
			li To publish fan-made works on the Internet.
			li To distribute fan-made works in events such as comiket.
			li To sell fan-made works in 
				strong non-commercial purposes.

		h2 Denied things
		
		p If I found these usage, I will apply for deletion.

		ul
			li To sell fan-made works in commercial purposes.
			li To use fan-made works as a commercial mascot.
			li To use my characters as if you made them.
			li To use my original works without my permission.
			li To use fan-made works in antisocial forces, religious organization etc.
			li And other things I have determined it's inappropriate.

		p Let's begin creation with manners.