.root {
	max-width: 920px;
	margin: auto;
}

#header {
	h1 {
		font-weight: normal;
		font-size: 3rem;
		margin-bottom: 3rem;
		font-family: 'Courier New', Courier, monospace;
		&:before {
			content: "> ";
			margin-right: 1rem;
		}
	}
}

main {

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
	}

	img.face {
		width: 12rem;
		height: 12rem;

		border-radius: 100%;
		//filter: drop-shadow(0 0 8px $shadow);
		box-shadow: 0 0 $shadow-depth $shadow;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 $shadow-depth-hover $shadow;
		}

		&:active {
			box-shadow: 0 0 $shadow-depth-push $shadow;
		}
		transition: all 0.05s ease-out;
	}

	.desc {
		text-align: left;
	}

	ul.buttons {
		padding: 0;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		display: block;
		list-style: none;
		li.button {
			display: inline-block;
			background: $form-background;
			box-shadow: 0 0 0.1rem $shadow;
			margin: 0.5rem;
			border-radius: 100%;
			padding: 0.7rem;
			padding-top: 0.79rem;
			padding-bottom: 0.79rem;
			box-shadow: 0 0 $shadow-depth $shadow;
		
			&:hover {
				box-shadow: 0 0 $shadow-depth-hover $shadow;
			}

			&:active {
				box-shadow: 0 0 $shadow-depth-push $shadow;
			}
		
			transition: all 0.05s ease-out;
			
			font-size: 1.3rem;
			color: $black;

			cursor: pointer;

			a {
				text-decoration-line: none;
				color: $black;
				text-shadow: none;
			}

			&#misskey {
				img {
					width: 1.3rem;
					height: 1.3rem;
				}
				padding: 0.72rem 0.86rem;
			}

			&#twitter a{ color: #55acee; }
			&#github a{ color: #333; }
			&#soundcloud a{ color: #ff3300; }
			&#misskey a{ color: #2FA2BB; }
			&#youtube a{ color: #cd201f; }
			&#wordpress a{ color: #21759b; }

			.tooltip {
				font-size: 0.8rem;
				color: $foreground;
				position: absolute;
				left: -100%;
				right: -100%;
				display: block;
				text-align: center;
				top: -1rem;
				transition: all 0.05s ease-out;
				opacity: 0;
			}

			&:hover .tooltip {
				opacity: 1;
				transform: translateY(-0.5rem);
			}

			position: relative;

		}
	}
}

.fluid {
	width: 100%;
	height: auto;
}

.rounded {
	border-radius: 50%;
}

hr {
	border-width: 0.5px;
	border-style: solid;
}

@media only screen and (max-width: 800px) {
	.root {
		margin: 1rem;
	}

	main {
		.desc {
			text-align: center;
		}
	}
}