@import "./variables";

html {
	scroll-behavior: smooth;
}

body {
	background-color: $back;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: $fore;
	text-align: center;
	font-size: 18px;
	margin: 80px 32px;
	font-feature-settings: "pkna";
	line-height: 150%;
	transition: opacity 0.5s ease;
	opacity: 1;
}


[v-cloak] {
	opacity: 0;
	transition: opacity 0.3s ease;
}

#page-top {
	cursor: pointer;
	box-shadow: 0 0 $shadow-depth-floating $shadow;
	border-radius: 50%;
	background: $window-background;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	opacity: 0;
	transform: scale(0);
	transition: all 0.05s ease-out;

	&.show {
		opacity: 1;
		transform: scale(1);
	}

	&:hover {
		box-shadow: 0 0 $shadow-depth-floating-hover $shadow;
	}

	&:active {
		box-shadow: 0 0 $shadow-depth-floating-push $shadow;
	}

	position: fixed;

	right: 3rem;
	bottom: 3rem;
	width: 3rem;
	height: 3rem;
	z-index: 2;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: normal;
	margin: 2rem 0;
}

* {
	box-sizing: border-box;
}

img {
	&#avatar {
		width: 128px;
		height: 128px;
		border-radius: 96px;
		cursor: pointer;
	}
}

.shadowed {
	box-shadow: 0 0 2px #111;
	&:hover {
		color: $back-light;
	}
}


p {
	margin: 1rem 0;
}

a {
	color: $accent;
	text-decoration: none; 

	&:hover {
		color: $accent-light;
	}

	&:active {
		color: $accent-dark;
	}
}

.planet {
	position: absolute;
	right: 16px;
	top: 16px;
	width: 64px;
	height: 64px;
	background: none;
	box-shadow: none;
	font-size: 32px;
	color: $accent;
	cursor: pointer;
	&:hover, &:focus {
		box-shadow: none;
	}
}

#navbar {
	position: fixed;
	height: 64px;
	left: 0;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 32px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	z-index: 100;
	background: var(--back-navbar);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	transform: translateY(-64px);
	transition: transform 0.2s ease-out;
	
	&.show {
		transform: none;
	}

	h1 {
		font-size: 1.4rem;
		margin-right: 16px;
	}

	a, .misc, button {
		margin: 0 8px;
		font-size: 24px;
		color: $fore;
		small {
			text-transform: uppercase;
			font-size: 12px;
		}
		text-decoration: none;
	}

	button {
		border: none;
		box-shadow: none;
		background: none;
		cursor: pointer;
	}

	#color-button {
		margin-left: auto;
	}

	#misc-menu {
		position: fixed;
		background: $back;
		top: 64px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		height: 0px;
		overflow: scroll;
		z-index: 101;
		transition: all 0.2s ease;

		&.show {
			height: calc(100% - 64px);
		}

		.item {
			font-size: 14px;
			margin: 0px 32px;
			display: flex;
			justify-content: left;
			align-items: center;
			height: 48px;
			margin-left: 2rem;

			&.child {
				margin-left: 4rem;
			}
		}

		p.item {
			opacity: 0.7;
		}
	}
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: justify;
	list-style-type: none;
	.button a {
		display: block;
		width: 32px;
		height: 32px;
		font-size: 32px;
		margin: 1rem;
	}
}

.skills {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 400px;
	margin-left: auto;
	margin-right: auto;

	.skill {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem;
		.img-wrapper {
			width: 64px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			img, svg {
				max-width: 75%;
				max-height: 75%;
				filter: drop-shadow(0 0 2px white);
			}
		}
	}
}

.record {
	width: 320px;
	min-height: 320px;
	margin: 8px;
	box-shadow: 0 0 2px #111;
	background: $white;
	color: $black;
	font-size: 14px;

	.art {
		img {
			width: 100%;
		}
	}
	.desc {
		padding: 16px;
		h1 {
			font-size: 24px;
			font-weight: bold;
			margin: 0;
			margin-bottom: 8px;
		}
	}
	
}

.product {
	width: 320px;
	min-height: 320px;
	position: relative;
	margin: 8px;
	box-shadow: 0 0 2px $back-dark;
	.background {
		background-size: cover !important;
		position: absolute;
		filter: blur(2px);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -20;
	}
	a {
		color: $back;
		text-decoration: none;
		text-shadow: none;
	}
	.description {
		padding: 16px;
		width: 100%;
		height: 100%;
		background: rgba($black, 0.5);
		color: $white;
		transition: opacity 0.2s ease;
		h1 {
			font-weight: bold;
			font-size: 1.2rem;
			margin: 0.7rem 0;
		}
		.tag {
			font-size: 0.8rem;
		}
		p {
			font-size: 1rem;
		}
		&:hover {
			opacity: 1;
		}
	}
}

article {
	padding-top: 2rem;
}

footer {
	padding-top: 3rem;
}

.cards {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 32px;

	.card {
		position: relative;
		box-shadow: 0 0 2px $fore;
		color: $fore;
		
		width: 256px;
		text-decoration: none;
		padding: 3rem;
		margin: 1rem;
		text-shadow: none;
		a {
			color: $accent-dark;
			text-decoration: none;
			&:hover {
				color: $accent-light;
			}
		}
		h1 {
			font-weight: bold;
			margin: 0;
			font-size: 1.3rem;
		}
		* {
			position: relative;
			z-index: 10;
			font-size: 1rem;
		}
		i {
			position: absolute;
			right: 16px;
			bottom: 16px;
			font-size: 128px;
			color: $fore;
			opacity: 0.1;
		}
		li {
			text-align: left;
		}
	}
}

.left {
	text-align: left;
	margin-left: 128px ;
}

.click-to-copy {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.cards {
		margin-left: 0;
		margin-right: 0;
	}
	.left {
		margin-left: 0;
	}

	body {
		margin: 96px 16px;
	}
}

@media screen and (max-width: 594px) {
	#navbar {
		padding: 0;
		justify-content: center;
		a small {
			display: none;
		}
	}

	.pc {
		display: none;
	}
}


@media screen and (min-width: 595px) {
	.mobile {
		display: none;
	}
}