$fore: #e0e0e0;
$fore-light: #ffffff;
$fore-dark: #c8c8c8;
$back: #455A64;
$back-light: #78909C;
$back-dark: #263238;
$accent: #03A9F4;
$black: #242424;
$white: #fafafa;
$shadow: $black;
$shadow-light: #90A4AE;
$shadow-depth: 12px;
$shadow-depth-hover: 24px;
$shadow-depth-push: 4px;
$shadow-depth-floating: 48px;
$shadow-depth-floating-hover: 64px;
$shadow-depth-floating-push: 8px;
$form-background: rgba(220, 220, 220, 1);
$form-foreground: $black;
$form-disabled-background: rgba(180, 180, 180, 0.7);
$window-background: rgba(4, 4, 4, 0.753);
$window-disabled-background: rgba(56, 56, 56, 0.219);