$fore: var(--fore);
$fore-light: var(--fore-light);
$fore-dark: var(--fore-dark);
$back: var(--back);
$back-light: var(--back-light);
$back-dark: var(--back-dark);
$accent: var(--accent);
$accent-light: var(--accent-light);
$accent-dark: var(--accent-dark);
$black: #242424;
$white: #fafafa;
$shadow: $black;
$shadow-light: $back-light;
$shadow-depth: 12px;
$shadow-depth-hover: 24px;
$shadow-depth-push: 4px;
$shadow-depth-floating: 48px;
$shadow-depth-floating-hover: 64px;
$shadow-depth-floating-push: 8px;
$form-background: rgba(220, 220, 220, 1);
$form-foreground: $black;
$form-disabled-background: rgba(180, 180, 180, 0.7);
$window-background: $back-light;
$window-disabled-background: $back-dark;
$mobile: 680px;