$black: #101010;
$white: #FAFAFA;
$background: $black;
$background2: #400;
$foreground: $white;
$disabled-foreground: #9f9f9f;
$accent: #229f7f;
$link: #229f7f;
$link-hover: #25cea4;
$link-active: rgb(23, 105, 85);
$shadow: $black;
$shadow-light: #90A4AE;
$shadow-depth: 12px;
$shadow-depth-hover: 24px;
$shadow-depth-push: 4px;
$shadow-depth-floating: 48px;
$shadow-depth-floating-hover: 64px;
$shadow-depth-floating-push: 8px;
$form-background: rgba(220, 220, 220, 1);
$form-foreground: $black;
$form-disabled-background: rgba(180, 180, 180, 0.7);
$window-background: rgba(4, 4, 4, 0.753);
$window-disabled-background: rgba(56, 56, 56, 0.219);