@import "index";
@import "view";
@import "form";
@import "alert";

body {	
	--fore: #180614;
	--fore-light: #383c3c;
	--fore-dark: #000b00;
	--back: #fef4f4;
	--back-light: #fef4f4;
	--back-dark: #fdeff2;
	--back-navbar: rgba(#fef4f4, 0.7);
	--accent: #028760;
	--accent-light: #3eb370;
	--accent-dark: #007b43;
}