@import "include/_color.scss";
@import "include/_balloon.scss";

footer {
  background-color: map-get($colors, gray);
  padding: 2rem 0;
//  margin-top: 2rem;
  font-size: 0.8em;
  text-align: center;
  color: #818a91;
}

$xelticolor: #FF464A !default;

.dropdown .dropdown-menu {
  box-shadow: 0 0 0.5rem 0.1rem #555;
  background: #fff;
  border-radius: 2%;
}

table.table {
  text-align: left;
}

.jumbotron > section > h2 {
  font-size: 1.6rem;
  text-align: center;
}

.top {
  margin-top: 5rem;
}

@function px2rem($px) {
  @return $px * 0.0625 * 1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

$content-padding: 4rem;

$bg-content-a: #cfcfcf;
$bg-content-b: #f0f0f0;

.content-a {
  background: $bg-content-a;
  padding-top: $content-padding;
  padding-bottom: $content-padding;
}

.content-b {
  background: $bg-content-b;
  padding-top: $content-padding;
  padding-bottom: $content-padding;
}
