@import "include/_color.scss";

.point-circle {
	width: 8rem;
	height: 8rem;
	margin: 0 auto;
	font-size: 4rem;
	line-height: 8rem;
	color: map-get($colors, white);
	border-radius: 100%;
	text-align: center;
}

.icon-mstdn {
	&:before {
		content: "🐘"
	}
}

.card h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-top: 0.5rem;
}