@import "include/_color.scss";

body {
  color: map-get($colors, white);
  background-image: linear-gradient(180deg, #101010, #222230);
  text-align: center;
}

footer {
  background-color: #252624;
  padding: 2rem 0;
  margin-top: 2rem;
  font-size: 0.8em;
  text-align: center;
  color: #818a91;
}

section {
  margin-top: 4rem;
}

.text-black {
  color: map-get($colors, black);
}

pre > code {
  display: block;
  background: map-get($colors, black);
  font-size: 10pt;
  padding: 1rem;
  margin-top: 2rem;
  font-family: monospace;
  overflow: scroll;
  color: map-get($colors, white);
  border-radius: 1rem;

  p {
    margin: 0;
  }

  .arg, .label {
    color: #ff7f00;
  }

  .prefix {
    color: #7f7fff;
  }

  .comment {
    color: #20ff20;
  }

  .cmd {
    color: #40f090;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}
