extends _layout


block title
	title Donation - Xeltica
	+og(
		"Donation - Xeltica", 
		"Donation",
		"Works, gamedev, appdev, engineering, Xeltica",
		"assets/cat.jpg",
		false
		)
	meta(name="theme-color", content="#f44336")
	
block body
	header#header.root
		h1 
			a(href="/en") Xeltica
			|  / Guideline
	
	main.root.align-left
		.card.container
			p I continue various projects. Even if it's hobby, to create games, music, and invest my server, needs much money.
			p I prepared some way to donate for people who are impressed with my activity, or want to donate something to me.
			h2 Kyash
			p Kyash is a service to send money easily from smartphone. If you have a wallet on Kyash, I recommend to use this QRcode.
			img(src="assets/kyash.png", alt="Kyash QR", width="256")
			h2 Amazon
			p I'm also glad to give me gifts. Please see my wish-list.
			a(href="http://amzn.asia/jknfT4S") Wish List