extends _layout

mixin article(title, link, linkText)
	article.card
		.card-body
			h1=title
			block
		if link
			.card-command
				a(href=link)= linkText ? linkText : "More..."

block title
	title Xeltica
	+og(
		"Xeltica", 
		"A man developing web, native apps and games.",
		"Creation, Game, App, Engineering, Xeltica",
		"/assets/cat.jpg",
		true
		)
	meta(name="theme-color", content="#f44336")

block script
	+js("https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min")
	script.
		window.onload = function () {
			let icon = document.getElementById("xeltica_face");
			let anm = anime({
					targets: icon,
					rotateZ: 360,
					duration: 600,
					easing: "easeInOutCubic",
					autoplay: false
				});
			icon.addEventListener("click", () => {
				anm.restart();
			});
		}


block body
	.root
		header#header
			h1 Xeltica
		main
			.container
				.row
					.col-4
						img#xeltica_face.face(src="/assets/cat.jpg")
					.col-8.desc
						p I'm creating games, web apps and native apps.
						p I'm a front-end web enginner in Tokyo.
						p
							a(href="/") 日本語
							|  ・ 
							| English
						
						ul.buttons
							li.button#twitter
								a(href="https://twitter.com/XelticaWorks"): span.fab.fa-twitter.fa-fw
								.tooltip Twitter
							li.button#soundcloud
								a(href="https://soundcloud.com/Xeltica"): span.fab.fa-soundcloud.fa-fw
								.tooltip SoundCloud
							li.button#github
								a(href="https://github.com/xeltica"): span.fab.fa-github.fa-fw
								.tooltip GitHub
							li.button#misskey
								a(href="https://misskey.xyz/@xeltica"): img(src="/assets/mi.svg")
								.tooltip Misskey
							li.button#youtube
								a(href="https://www.youtube.com/channel/UCljiMx6DoPrDnsy6uqHlPTw"): span.fab.fa-youtube.fa-fw
								.tooltip YouTube
							li.button#wordpress
								a(href="https://blog.citringo.net"): span.fab.fa-wordpress.fa-fw
								.tooltip Blog
							li.button#musica
								a(href="https://musica.citringo.net"): span.fas.fa-music.fa-fw
								.tooltip Original Songs

							+article("PRODUCTS", "/en/product.html")
								p Games and apps I created.
							+article("GUIDELINE", "/en/char/guideline.html")
								p A guideline about my owned characters.
							+article("Misskey", "//mi.citringo.net")
								p A misskey instance from Xeltica.
							+article("LINKS", "/en/link.html")
								p My friends' website.
							+article("OTHERS")
								ul
									li:a(href="/donation.html") Donation
							+article("SOUNDCLOUD", "https://soundcloud.com/Xeltica")
								<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/282762842&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
							+article("TWITTER", "https://twitter.com/XelticaWorks")
								a.twitter-timeline(data-height='512', data-theme='dark', href='https://twitter.com/XelticaWorks?ref_src=twsrc%5Etfw') Tweets by Xeltica
								script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
							+article("AD")
								script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
								ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-4398381659121550', data-ad-slot='7519451816', data-ad-format='auto', data-full-width-responsive='true')
								script.
									(adsbygoogle = window.adsbygoogle || []).push({});
