extends _layout.pug


mixin card(title, href, desc, btn_text)
	.col-6.align-left
		.card
			.card-body
				h1= title ? title : ""
				if block
					block
				else
					p= desc ? desc : ""
			if href
				.card-command
						a(href=href) Go

block title
	title Links - Xeltica
	+og(
		"Links - Xeltica", 
		"Websites by my friends.",
		"Xeltica",
		"assets/cat.jpg",
		false
		)
	meta(name="theme-color", content="#f44336")

block body
	header#header.root
		h1 
			a(href="/en") Xeltica
			|  / Links
		.align-left
			p This is links of my friends' websites. 
				strong Note that they are all Japanese only site.

			p If you link my website to your website, please use
				a(href="https://citringo.net/en") https://citringo.net/en
				| .
	main.root
		.container
			.row
				+card("Panzer stopp!", "http://wahahayuy.wixsite.com/panzer-stopp", "By yuyat, a SMILEBASIC user.")
				+card("Ochame Club", "http://ochameclub.web.fc2.com/", "Ochame's site. It has several helpful libraries for SMILEBASIC.")
				+card("Arakawa", "//arkw.net", "Sora Arakawa's website. He publishes many apps.")
				//- リンク切れ
				//- +card("ぱにゃもひ☆PROJECT", "https://panyaa.herokuapp.com/", "ぱんにゃあさんのウェブサイトです。ブログが公開されています。")
				+card("eimiiverse's official site", "http://eimiiverse.starfree.jp/", "eimiiverse's portfolio. Let's go if you're interested in Splatoon.")
				+card("Chikuwabu", "https://tkwb.otyakai.xyz", "This is a website of game creating circle.")