extends _layout

mixin article(title, img)
	.card
		h1= title
		hr
		.container
			.row
				.col-4
					img.fluid(src=img)
				.col-8
					block

block title
	title Products - Xeltica
	+og(
		"Products - Xeltica", 
		"Xeltica's products.",
		"Creation, Game, Apps, Engineering, Xeltica",
		"/assets/cat.jpg",
		false
		)
	meta(name="theme-color", content="#f44336")

block body
	header#header.root
		h1 
			a(href="/en") Xeltica
			|  / Product

		p There are several apps I created.

	main.root.align-left
		+article("Osakana Rescue", "/assets/osakana1.png")
			.card-body
				aside
					span.badge.dark Cross Platform
					span.badge.info Game
				section
					h2 fish, ...... or friendship?
					p Your name is white-cat. A cat calling himself cats-guy, stole your gold fish and ran away.
					p Well, can you take it back from the guy? Finally, what's an identity of him...?
			.card-command
				a(href="https://github.com/WyteEngine/OsakanaRescue/releases/download/1.0.0/osakana100-windows.zip")
					span.fas.fa-download.fa-fw
					| Windows版
				a(href="https://github.com/WyteEngine/OsakanaRescue/releases/download/1.0.0/osakana100-macos.zip")
					span.fas.fa-download.fa-fw
					| macOS版
				a(href="https://github.com/WyteEngine/OsakanaRescue/releases/download/1.0.0/osakana100-linux.zip")
					span.fas.fa-download.fa-fw
					| Linux版

		+article("Rainy Tune", "/assets/rainytune.png")
			.card-body
				aside
					span.badge.dark Windows
					span.badge.info Healing
					span.badge.info Music
				section
					h2 Oh, Sounds came down!
					p Don't you have unused MIDI files?
					p RainyTune plays them with so awesome animations.
			.card-command
				a(href="https://github.com/xeltica/rainytune/releases/download/1.1.0/rainytune110.zip")
					span.fas.fa-download.fa-fw
					| Download it
				a(href="https://github.com/xeltica/rainytune/")
					span.fab.fa-github.fa-fw
					| See source codes
		+article("Music Sheet", "/assets/ms.png")
			.card-body
				aside
					span.badge.dark Windows
					span.badge.info Music
				section
					p Music Sheet is a MIDI player for Windows.
					p It has a emulated wavetable synthesizer. You can listen to your MIDI files like a game music.
					p: strong .NET Framework 4.5+ and DirectX 9.0 are required to run this app.
			.card-command
				a(href="https://www.dropbox.com/s/y8rkbcygvyymuf2/MusicSheetv110.zip?raw=1")
					span.fas.fa-download.fa-fw
					| Download it!

block footer
	p Microsoft, Windows and DirectX are all registered trademark of Microsoft Corporation.