extends _layout.pug

block body
	h1 404 NOT 
		span.blink FOUND
	p この
		span.blink ページ
		| は
		span(style="display: inline-block; transform: rotate(30deg); transform-origin: 10% 100%;") 
			span(style="font-size: 150%;") 存在
			| しません！

block title
	title 404 - Xeltica
	style.		
		@keyframes blink {
			0% {opacity: 1}
			10% {opacity: 1}
			12%{opacity: 0}
			14% {opacity: 1}
			20% {opacity: 1}
			21% {opacity: 0}
			39%{opacity: 0}
			40% {opacity: 1}
			48%{opacity: 1}
			49% {opacity: 0}
			50% {opacity: 1}
			54%{opacity: 1}
			55% {opacity: 0}
			56% {opacity: 1}
			85%{opacity: 1}
			89% {opacity: 0}
			95% {opacity: 1}
		}

		.blink{
			animation: blink 2s infinite;
		}