//- Functions
include _mixin.pug
doctype html

html(lang="ja")
	head
		block meta
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		
		// Bootstrap Rin
		+css("https://cdn.honokak.osaka/rin/4.0.0-alpha.3/css/bootstrap.min.css")
		// Font Awesome
		+css("https://use.fontawesome.com/releases/v5.0.4/css/all.css")
		// My Style
		+css("/css/master.css")
		block style
	body
		
					
		header
			block header
			nav.navbar.navbar-light.navbar-fixed-top
				.container
					a.navbar-brand(href="/") Xeltica Garage
					button.navbar-toggler.hidden-sm-up.float-xs-right(type="button", data-toggle="collapse", data-target="#bar", aria-controls="navbar-header", aria-expanded="false", aria-label="Toggle navigation")
						span.navbar-toggler-icon
					.clearfix.hidden-sm-up
					#bar.collapse.navbar-toggleable-xs
						ul.nav.navbar-nav.float-sm-right
							li.nav-item.dropdown
								a.nav-link(href="/product.html") 製品
								a.nav-link.dropdown-toggle#dd_product(href="#", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", style="display: inline; margin: 0")
								.dropdown-menu(aria-labelledby="dd_product")
									a.dropdown-item(href="/wyte.html") Project Wyte
							li.nav-item
								a.nav-link(href="/social.html") ソーシャル
							li.nav-item
								a.nav-link(href="/char.html") キャラ
							li.nav-item
								a.nav-link(href="/gallery.html") ギャラリー
							li.nav-item
								a.nav-link(href="/link.html") リンク
							li.nav-item
								a.nav-link(href="/contact.html") 連絡先
							li.nav-item
								a.nav-link(href="//blog.citringo.net") ぜるろぐ
		main
			.top
			block content

		footer.text-muted
			block pre_footer
			p (C)2018 Xeltica
			p このコンテンツはMITライセンスで公開されています&ensp;
				a(href="https://github.com/citringo/xeltica-garage") Fork me on GitHub
			p Powered by 
				a(href="https://v4-alpha.rinhoshizo.la") Bootstrap-rin v4&ensp;
				| and&ensp;
				a(href="https://fontawesome.com/") Font Awesome
				| .
			block post_footer

		// JQuery (required by bootstrap)
		+js("//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		// Clipboard (required by bootstrap)
		+js("https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js")
		// Bootstrap
		+js("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js")
		+js("https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")

		// Load js after the body contents because of UX improvement
		block script