include _mixins

mixin css(url)
	link(rel="stylesheet", href=`${url}.css`)
mixin js(url)
	script(src=`${url}.js`)

doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//- まだファビコンできてないからコメントアウト
		//- include _favicons
		block title
		+css("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min")
		+css("/css/bundle")
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
		block css
		block head
	body(v-cloak)
		nav#navbar
			h1.title: a(href="/") Xeltica
			a(href="/#skills")
				span.fas.fa-medal.fa-fw
				small skills
			a(href="/#products")
				span.fab.fa-app-store.fa-fw
				small prod.
			a(href="/#discography")
				span.fab.fa-itunes-note.fa-fw
				small disco.
			a.pc(href="/#misc")
				span.fas.fa-bars.fa-fw
				small misc
			
			button.mobile.misc(onclick="toggleMisc()")
				span.fas.fa-bars.fa-fw
			#misc-menu
				a.item(href="/gallery.html")
					span.fas.fa-images.fa-fw
					| &nbsp;ギャラリー
				a.item(href="/donation.html")
					span.fas.fa-hand-holding-usd.fa-fw
					| &nbsp;寄付
				a.item(href="/char.html") 
					span.fas.fa-child.fa-fw
					| &nbsp;キャラクター
				a.item(href="/char/guideline.html") 
					span.fas.fa-lock.fa-fw
					| &nbsp;ガイドライン
				p.item 
					span.fas.fa-address-card.fa-fw
					| &nbsp;連絡先
				a.item.child(href="https://twitter.com/Xeltica") Twitter
				a.item.child(href="https://social.xeltica.work/@Xeltica") Groundpolis
				a.item.child(href="mailto:xeltica@gmail.com") メール
		block body
		#page-top
			span.fas.fa-arrow-up
		footer#footer
			block footer
			p (C)2018-2020 Xeltica
		block script
		+js("/js/main")