mixin og(title, desc, keywords, image, isTop)
	meta(content=desc, name="description")
	meta(content=keywords, name="keywords")
	meta(content=title, property="og:title")
	meta(content=desc, property="og:description")
	meta(content="https://xeltica.work/" + image ? image : "assets/Citrine.jpg", property="og:image")
	meta(content="https://xeltica.work/", property="og:url")
	meta(content=(isTop ? "website" : "article"), property="og:type")
	meta(content="ja_JP", property="og:locale")