extends _layout.pug

block meta
	title 講座テスト - Xeltica


block content
	+header("講座テスト")
		p バルーン機能の実験場です．
	.container
		+kaho(): p ここは...どこ？
		+citr(): p 講義室よ．技術は人に伝えていかなきゃいけないからね．
		+kaho(): p 講座をやる予定があるのかしら？
		+citr(): p そうじゃない？でなければこんなスタイルシートが用意されたり―
		+kaho(): p スタイルシートって？
		+citr(): p ん，なんのこと？
		hr
		+balloon("cat.jpg", "Xeltica"): p このページのバルーン機能は，今後講座などに利用します．
		