extends _layout

block title
	title キャラクター - Xeltica
	+og(
		"キャラクター- Xeltica", 
		"ゼルチカのオリジナルキャラクターに関するページです。",
		"創作, オリキャラ, Xeltica",
		false
		)

block css
	+css("/css/char")
block script
	+js("/js/char")

block body

	mixin specification
		h1 スペック
		table
			tr
				th 身長
				td {{ profile.height ? profile.height + "cm" : "秘密" }}
			tr
				th 体重
				td {{ profile.weight ? profile.weight + "kg" : "秘密" }}
			tr(v-if="profile.bust")
				th バスト
				td {{ profile.bust }}
		h1 衣装など
		p {{ profile.cross }}
		ul(v-if="profile.reference", v-for="ref in profile.reference")
			li: a(:href="ref") 参考資料
		h1 その他の特徴
		ul
			li(v-for="point in profile.points") {{ point }}

	#app(v-cloak)
		header#header.root
			h1 
				a(href="/") Xeltica
			h2 うちの子

		aside
			p ここでは、私のうちの子を紹介しています。二次創作については
				a(href="/char/guideline.html") ガイドライン
				| をご確認ください。
		nav.root
			.char-selector
				.char-wrapper(v-for="(data, name) in chars")
					input.char(:id="name", type="radio", name="char", checked="", :value="name", v-model="selected")
					label(:for="name", :style="`background-image: url(${data.avatarUrl})`")
					.title {{ data.name }}
			hr
		main#views.root
			.char-card
				.char-side
					img(:src="profile.avatarUrl", :alt="profile.name")
					div(v-if="!isMobile")
						+specification()
				.char-body
					h1 {{ profile.name }}
					p {{ description }}
					p {{ realName }}
					p(v-for="desc in profile.descriptions") {{ desc }}
					div(v-if="isMobile")
						+specification()