extends _layout.pug

block meta
	title キャラクター - Xeltica

block style
	+css("css/char.css")

block content
	+header("キャラクター")
		p Xeltica Garage の看板キャラクターを紹介します．
		p 現在，2人のキャラクターがいます．
	section#citrine
		+content-b("シトリン", "static/gallery/mi4_citrine.png")
			p Xeltica Garage 看板娘第一弾であり，プログラマーである．黒髪ロングメガネっ娘．
			p 本名は明かされていない．
			p フリーゲームの改造を通して，プログラミングに興味をもつようになった．C#を得意言語とする．髪飾りもC#仕様にして，人々への布教を企んでいる．
			p 技術の流行ばかり追いかけて，ファッションには無頓着の模様．内向的で，大の猫好き．
			p 読書も趣味であると自称しているが，稀に小説は読むものの大抵は技術書を読む．
			p 普段は冷静であるが，好きなものの話題を振られると熱くなり早口で喋りだす．
			p 誕生日は
				time(datetime="1998/4/10") 1998年4月10日
				| で，現在20歳．
			p 運動はほとんどしない．身体能力はかなり低い．
	section#kaho
		+content-a("カホ", "static/gallery/mi4_kaho.png")
			p Xeltica Garage の看板娘第二弾，そしてサウンドデザイナーである．
			p 本名は 幸田 歌帆(こうだ かほ)．
			p
				time(datetime="2000/7/10") 2000年7月10日
				| 生まれの18歳，O型．
			p お気に入りのヘッドホンはつけていないと気がすまないらしい．
			p 音楽ゲームも趣味の一つで，腕前はなかなか．
			p 楽器は弾けないため，作曲時はマウスで打ち込みをする．鍵盤の練習もしているらしい．
			p 明るくハキハキと話すが，相手の話もちゃんと聞く．
			p シトリンとは2歳違いだが，仲が良い．共同でゲーム開発をしたこともある．
			p フィーリング重視の思考回路を持つため，シトリンと衝突することがしばしばある．