extends _layout


block title
	title 寄付 - Xeltica
	+og(
		"寄付 - Xeltica", 
		"寄付はこちらから",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		false
		)
	
block body
	article
		h2 DONATION
		p ゼルチカはあらゆる活動を趣味の範囲で続けています。趣味であれ、ゲーム開発や作曲、サーバーの運用などには相当のコストが発生します。
		p 私の活動に感銘を受けたり、寄付をしたい！という方のために、寄付の手段を用意しました。
	article
		h2 Kyash
		p Kyash はスマートフォンなどから簡単に送金ができる便利なサービスです。
		p Kyash 上にウォレットを持っている方は、こちらの方法で寄付することをおすすめします。
		img(src="assets/kyash.png", alt="Kyash QR", width="256")
	article
		h2 Amazon
		p モノでも嬉しいです。欲しいものリストを公開しているので、送っていただけると喜びます。
		p
			a(href="https://www.amazon.jp/hz/wishlist/ls/12PXP20O6ALMA") 物
			|  ・ 
			a(href="https://www.amazon.jp/hz/wishlist/ls/23CD9KAJC1GBM") 食品