extends _layout


block title
	title ギャラリー - Xeltica
	+og(
		"ギャラリー - Xeltica", 
		"戴き物の絵を掲載しています",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		"assets/cat.jpg",
		false
		)
	meta(name="theme-color", content="#f44336")

block body
	header#header.root
		h1 
			a(href="/") Xeltica
			|  / Gallery
		p 多くのファンアートを頂いております。 頂いたイラストを、ここに掲載しております。

		p うちの子のファンアート、随時募集中です。送っていただければもれなく掲載いたします。

		p 二次創作については
			a(href="/char/guideline.html") ガイドライン
			| をご確認ください。
	.container#app
		hr
		input(type="text", placeholder="検索" v-model="query")
		.row
			article#gallery.col-12
				.container
					#gallery
						img(v-for="(image, index) in currentImages",
							:src="'/assets/gallery/' + image.file"
							@click="clicked(index, image)")
		transition(name="fade")
			.overlay(v-if="isModalVisible", v-cloak, @click="close()")
				.window
					a(:href="'/assets/gallery/' + selectedImage().file"): img(:src="'/assets/gallery/' + selectedImage().file")
					.description
						.title
							h1(v-if="selectedImage().authorUrl" )
								a(:href="selectedImage().authorUrl")
									| 提供: {{ selectedImage().author }}
							h1(v-else) 提供: {{ selectedImage().author }}
							span.tags: i.fas.fa-tags
								| &emsp;
							spaa.tag(v-if="selectedImage().tags", v-for="tag in selectedImage().tags")
								a(href="#" onclick="search(tag)") {{ tag }}
								| &ensp;
						p(v-if="selectedImage().description") {{ selectedImage().description }}
					.close(@click="close()")
						i.fas.fa-times
					.goPrevious(@click.stop="goPrevious()")
						i.fas.fa-chevron-left
					.goNext(@click.stop="goNext()")
						i.fas.fa-chevron-right
block script
	+js("js/gallery")
