extends _layout


block title
	title ギャラリー - Xeltica
	+og(
		"ギャラリー - Xeltica", 
		"戴き物の絵を掲載しています",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		false
		)
	+css("css/gallery")

block body
	p 多くのファンアートを頂いております。 頂いたイラストを、ここに掲載しております。
	p うちの子のファンアート、随時募集中です。送っていただければもれなく掲載いたします。
	p うちの子の詳細情報は
		a(href="/char.html") こちら
		| からどうぞ。	
	p 二次創作については
		a(href="/char/guideline.html") ガイドライン
		| をご確認ください。
	article#app
		input(type="text", placeholder="検索" v-model="query")
		.row
			article#gallery.col-12
				.container
					transition-group(name="fade", tag="div", id="gallery", appear)
						img(v-for="(image, index) in currentImages",
							key="index",
							:src="'/assets/gallery/' + image.file"
							@click="clicked(index, image)")
		transition(name="fade")
			.overlay(v-if="isModalVisible", v-cloak, @click="close()")
				.window
					a(:href="'/assets/gallery/' + selectedImage().file"): img(:src="'/assets/gallery/' + selectedImage().file")
					.description
						.title
							h1(v-if="selectedImage().authorUrl" )
								a(:href="selectedImage().authorUrl")
									| 提供: {{ selectedImage().author }}
							h1(v-else) 提供: {{ selectedImage().author }}
							span.tags: i.fas.fa-tags
								| &emsp;
							spaa.tag(v-if="selectedImage().tags", v-for="tag in selectedImage().tags")
								a(href="#app" @click="query = tag") {{ tag }}
								| &ensp;
						p(v-if="selectedImage().description") {{ selectedImage().description }}
					.close(@click="close()")
						i.fas.fa-times
					.goPrevious(@click.stop="goPrevious()")
						i.fas.fa-chevron-left
					.goNext(@click.stop="goNext()")
						i.fas.fa-chevron-right
block script
	+js("js/gallery")

block footer
	p 各画像の著作権は、記載されている
		strong 提供者
		| に帰属します。いかなる画像も、提供者の許可なしにご利用いただくことはできません。
	p 2019/5/13 更新