extends _layout

mixin article(title, link, linkText)
	article.card
		.card-body
			h1=title
			block
		if link
			.card-command
				a(href=link)= linkText ? linkText : "もっとみる..."

block title
	title Xeltica
	+og(
		"Xeltica", 
		"Webとネイティブのアプリと、ゲームを作る人",
		"創作, ゲーム, アプリ開発, エンジニアリング, Xeltica",
		"assets/cat.jpg",
		true
		)
	meta(name="theme-color", content="#f44336")

block script
	+js("https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min")
	script.
		window.onload = function () {
			const icon = document.getElementById("xeltica_face");
			const anm = anime({
					targets: icon,
					rotateZ: 360,
					duration: 600,
					easing: "easeInOutCubic",
					autoplay: false
				});
			icon.addEventListener("click", () => {
				anm.restart();
			});
		}


block body
	.root
		header#header
			h1 Xeltica
		main
			.container
				.row
					.col-4
						img#xeltica_face.face(src="assets/cat.jpg")
					.col-8.desc
						p アプリ, ウェブ開発, 作曲などをやります。
						p 都内某企業のフロントエンドエンジニア。
						p 日本語
							|  ・ 
							a(href="/en") English

						ul.buttons
							li.button#twitter
								a(href="https://twitter.com/XelticaWorks"): span.fab.fa-twitter.fa-fw
								.tooltip Twitter
							li.button#soundcloud
								a(href="https://soundcloud.com/Xeltica"): span.fab.fa-soundcloud.fa-fw
								.tooltip SoundCloud
							li.button#github
								a(href="https://github.com/xeltica"): span.fab.fa-github.fa-fw
								.tooltip GitHub
							li.button#misskey
								a(href="https://mi.xeltica.work/@xeltica"): img(src="/assets/mi.svg")
								.tooltip Misskey
							li.button#youtube
								a(href="https://www.youtube.com/channel/UCljiMx6DoPrDnsy6uqHlPTw"): span.fab.fa-youtube.fa-fw
								.tooltip YouTube
							li.button#wordpress
								a(href="http://blog.xeltica.work"): span.far.fa-newspaper.fa-fw
								.tooltip ブログ

							+article("プロダクト", "/product.html")
								p 僕が制作したソフトウェアやゲームを公開しています。
							+article("ギャラリー", "/gallery.html")
								p 頂き物のイラスト一覧。
							+article("キャラクター", "/char.html")
								p うちの子のページです。
							+article("Misskey", "//mi.xeltica.work")
								p ゼルチカ運営のMisskeyインスタンスはこちら。
							+article("その他")
								a(href="/donation.html") 寄付
							+article("Soundcloud", "https://soundcloud.com/Xeltica")
								iframe(width='100%', height='300', scrolling='no', frameborder='no', allow='autoplay', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/282762842&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true')
							+article("Twitter", "https://twitter.com/XelticaWorks")
								a.twitter-timeline(data-height='512', data-theme='dark', href='https://twitter.com/XelticaWorks?ref_src=twsrc%5Etfw') Tweets by XelticaWorks
								script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
