extends _layout.pug


mixin card(title, href, font, btn)
	.card
		.card-block
			h3.card-title
				if (font)
					span(class="fa fa-" + font)
				span &emsp;
					!=title
			if (block)
				block
			else
				p No text.
			a.btn.btn-primary.btn-lg.btn-block(href=href)= btn ? btn : "移動する"
block meta
	title ホームページ

block style
	+css("css/index.css")
	
block content
	.container-fluid
		main.jumbotron.jumbotron-fluid
			section#myname.text-lg-center.text-md-center.text-sm-center.text-xs-center
				img.rounded-circle(width="256", src="static/cat.jpg", alt="Xelticat")
				h1 Xeltica
				p ゲームや音楽を作っている，普通の学生です．

				section#introduction.container
					h2 テキトーな自己紹介
					table.table.table-striped
						tbody
							tr
								td 
									span.fa.fa-user
									span &emsp;名前
								td ゼルチカ
							tr
								td 
									span.fa.fa-birthday-cake
									span &emsp;誕生日
								td 1998/11/29
							tr
								td 
									span.fa.fa-gamepad
									span &emsp;趣味
								td ゲーム開発/DTM
							tr
								td 
									span.fa.fa-laptop
									span &emsp;職業
								td 学生/エンジニア
							tr
								td 
									span.fa.fa-thumbs-up
									span &emsp;好きなもの
								td 肉，猫，メガネっ娘
							tr
								td 
									span.fa.fa-thumbs-down
									span &emsp;嫌いなもの
								td 虫，脳筋
			
			section#map.container
				h2 サイトマップ
				p このサイトには次のページがあります
				// Website Layout
				.row
					.col-sm-6
						+card("製品", "product.html", "archive")
							p 開発した作品の紹介を行います
					.col-sm-6
						+card("ソーシャル", "social.html", "share-alt")
							p 私のソーシャルアカウント一覧です
				.row
					.col-sm-6
						+card("リンク", "links.html", "link")
							p 個人的なリンク一覧です
					.col-sm-6
						+card("連絡先", "contact.html", "address-card")
							p 私への連絡はこちらでどうぞ
				.row
					.col-sm-6
						+card("キャラクター", "char.html", "user") 
							p うちの子のページです．
					.col-sm-6
						+card("ギャラリー", "gallery.html", "image")
							p 自作絵や戴き物の絵を掲載します．
				.row
					.col-sm-6
						+card("ぜるろぐ", "https://blog.citringo.net", "newspaper", "移動する(外部)")
							p 私のブログです．開発日記や雑記だらけなので，物好きな方は見てやってください
					.col-sm-6
						+card("Project Wyte", "wyte.html", "gamepad") 
							p Unity のための2Dアクションゲーム用アセット「Wyte Engine」を含む，Project Wyteのページです