extends _layout.pug

block meta
	title かに

block content
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v
	marquee v('ω')v