extends _layout.pug


mixin card(title, href, desc, btn_text)
	.col-sm-6
		.card
			.card-block
				h3.card-title= title ? title : "タイトルがありません．"
				if block
					block
				else
					p.card-text= desc ? desc : "説明がありません．"
					if href
						+btn-primary("行く", href)

block meta
	title リンク集 - Xeltica

block content
	.text-center.pt-1.pb-3.bg-inverse.text-white
		.container
			h1.my-3 Links
			p 本サイトと相互リンクであるウェブサイトや，自分の好みで貼っているリンクを紹介します．
	.alert.alert-info.text-center(role="alert")
		span このウェブサイトはリンクフリーですが，なるべく相互リンクをしたいので，
			a(href="/contact.html") 連絡先
			| からご連絡お願いします．

	.alert.alert-warning.text-center(role="alert")
		span 本サイトをリンクする際， 必ず
			a(href="https://citringo.net") https://citringo.net
			| にお願いします．トップページ以外のページは，リニューアルによってURLが変わる可能性があります．
	.container
		.row
			+card("Panzer stopp!", "http://wahahayuy.wixsite.com/panzer-stopp", "プチコナーで僕の後輩である yuyat さんのサイトです．プチコン作品やイラストなどが掲載されています．")
			+card("おちゃめくらぶ", "http://ochameclub.web.fc2.com/", "ポケコン時代からご活躍のおちゃめさんのサイトです．プチコン向けの便利なライブラリなどが公開されています．")
		.row
			+card("Arakawa", "//arkw.net", "Sora Arakawaさんのウェブサイトです．多くのソフトウェアを公開しています．")
			+card("ぱにゃもひ☆PROJECT", "https://panyaa.herokuapp.com/", "ぱんにゃあさんのウェブサイトです．ブログが公開されています．")
		.row
			+card("eimiiverse公式サイト", "//eimiiverse.jimdo.com", "eimiiverse氏のウェブサイトです．LINE スタンプ販売中らしいので買ってあげてください．")
			+card("御茶会", "https://otyakai.xyz", "所属している団体のウェブサイトです．特にコンテンツはありません．")
		.row
			+card("竹輪部", "https://tkwb.otyakai.xyz", "御茶会傘下のゲーム制作サークルです．開発したゲームを公開しています．")
			+card("ゼルチカ全曲データベース", "https://docs.google.com/spreadsheets/d/1Qmylr0Fpgx7JErCiji08p4tNSANyEAkQnTjpQMCRa4I/edit?usp=sharing, ", "ゼルチカが制作した音楽をまとめたデータベースです．")