extends _layout.pug

block meta
	title 製品 - Xeltica

block content
	.text-center.pt-1.pb-3.bg-inverse.text-white
		.container
			h1.my-3 Products
			p ゼルチカは様々な創作に携わっています．個人開発プロジェクトから，共同開発まで含まれます．
			p ここでは，それらを紹介します．一部のコンテンツはサブページもあるのでぜひ御覧ください．

	+content-a("Project Wyte", "static/wyte-scr.png")
		span.tag.tag-primary アルファ版
		span &ensp;
		span.tag.tag-default クロスプラットフォーム
		p Project Wyte は，2Dプラットフォームアクションアドベンチャーゲームを作るためのUnity用の便利なアセット「Wyte Engine」を開発するプロジェクトです．
		p Wyte Engine の完成次第，一本ゲームの開発を予定しているのでお待ち下さい．
		hr
		+btn-primary("詳細をみる", "/wyte.html")
	
	+content-b("Take Up Jewel", "static/tuj.png")
		span.tag.tag-default Windows 
		h2 宝物を奪い返せ．
		p レトロゲームライクなアクションゲームです．
		p トランジスタ王国のレジスタ街にある孤児院「ハフマンの家」で大切にされてきた宝物を，悪の組織「スパイウェ団」に盗まれてしまいました．
		p 立ち上がった主人公が，宝物を取り返す旅に出ます．
		hr
		p 
			strong .NET Framework 4.5以降 と DirectX 9.0 が必要です．
		+btn-primary("ダウンロード(via DropBox)", "https://www.dropbox.com/s/m92ms22qlanxp85/take-up-jewel-1.1.0-release.zip?raw=1")
	+content-a("Music Sheet", "static/ms.png")
		span.tag.tag-default Windows
		p Music Sheet は，Windows 向けの MIDI プレイヤー．
		p 古き良き電子音源「波形メモリ音源」別名ウェーブテーブルシンセを再現．あなたのMIDIファイルがゲーム音楽になります．
		hr
		p 
			strong .NET Framework 4.5以降 と DirectX 9.0が必要です．
		+btn-primary("ダウンロード(via DropBox)", "https://www.dropbox.com/s/y8rkbcygvyymuf2/MusicSheetv110.zip?raw=1")
	+content-b("Groorine")
		span.tag.tag-danger アルファ版
		span &ensp;
		span.tag.tag-default クロスプラットフォーム
		p Groorine は，Music Sheetの後継である，クロスプラットフォームの8bitライクなソフトウェアシンセサイザー+MIDIプレイヤーです．
		//-+btn-primary("詳細をみる", "/wyte.html")
		p 未完成ながら，動作可能な Windows 向けバージョンがあります．上級者の方はご利用ください．
		hr
		p 
			strong .NET Framework 4.5 が必要です．
		+btn-danger("ダウンロード(α版)", "https://github.com/Citringo/Groorine_1/releases/download/beta161128/GroorineTest-Beta161128.zip")
	+content-a("Beat Ball")
		span.tag.tag-danger 未リリース
		span &ensp;
		span.tag.tag-default クロスプラットフォーム 
		p 音楽ゲーム．

block pre_footer
	p Microsoft, Windows, DirectX は Microsoft Corporation の米国およびその他の国，地域における登録商標です．
	hr