extends _layout.pug

mixin card(icon, href, title, circle)
		.card
			.card-block
				.row
					.col-sm-4
						//- Icon
						.wrapper
							.point-circle(class=circle)
								span(class=icon)
					.col-sm-8
						//- Label
						h1.text-xs-center= title
						hr
						.ml-2
							if block
								block
							else
								p No text.
						+btn-primary("移動", href)

block meta
	title ソーシャルメディア - Xeltica

block style
	+css("css/social.css")

block content
	.text-center.pt-1.pb-3.bg-inverse.text-white
		.container
			h1.my-3 ソーシャルメディア
			p ゼルチカはいくつかのソーシャルメディアにアカウントを持っています．
			p 創作に関するものからそうでないものまであるので，興味がある方は見ていってください．
	.container.pt-3
		//- h1 まだ何もないけどねw
		+card("fab fa-twitter", "https://twitter.com/Xelticat", "Twitter", "bg-twitter")
			p 創作，ネタなどをバラエティにツイートしています．
		+card("fab fa-github", "https://github.com/citringo", "GitHub", "bg-black")
			p 私のソースコードが見たい方はこちらへ．殆どMITライセンスにより二次利用可能です．
		+card("fab fa-soundcloud", "https://soundcloud.com/Xeltica", "SoundCloud", "bg-soundcloud")
			p 制作した音楽はこちらにアップロードしているので，ぜひお聴きください．
		+card("fab fa-youtube", "https://www.youtube.com/channel/UCljiMx6DoPrDnsy6uqHlPTw", "YouTube", "bg-youtube")
			p 製作中のアプリ/ゲームの動画をたまにアップロードしています...
		+card("icon-mstdn", "https://mstdn.otyakai.xyz/xeltica", "マストドン", "bg-mastodon")
			p マストドン 御茶会インスタンスをメインで使用しています．稀に何かをトゥートしています．
			small(style="color: #dddddd; font-size: 0.4rem") font-awesome は早くマストドンのアイコンを作って欲しい