extends _layout

block title
	title 楽曲配布 - Xeltica
	+og(
		"楽曲配布 - Xeltica", 
		"",
		"フリー素材, フリーBGM, Xeltica",
		false
		)
	
block body
	header#header.root.left
		h1 
			a(href="/") Xeltica
	article.left
		article#download
			h2 楽曲配布
			p ゼルチカの作成した楽曲を続々配布中。
			p: a(href="https://drive.google.com/open?id=1djTKdwtje1IhUJt-nYIjh-oZ-i4l5led") Google Driveからダウンロードする
		article#tos
			h2 利用規約
			section#allow
				h3 許可事項
				p 以下に定める用途で使用することを、楽曲製作者であるXelticaの名前を併記する場合に限り許可します。
				ul
					li 私的に聞いて楽しむこと
					li 私的複製
					li 再配布
					li リミックス、マッシュアップ、音MAD、YTPMVなど、本楽曲を素材として用いたコンテンツの作成, 公開, 販売
					li 制作した音楽ゲームへの収録といった、楽曲をメインコンテンツとしてゲームに使用すること
					li DJ プレイに使用
					li ゲームや動画のBGMに使用
					li 音MADなどの動画に使用
			section#deny
				h3 禁止事項
				p 以下に定める用途は禁止致します。
				ul
					li 楽曲そのものの二次販売
					li 楽曲のクレジット無しに使用すること
					li Xeltica のイメージを激しく損なうような用途での使用
					li 反社会的勢力やアダルトコンテンツ、政治組織、宗教団体などによる使用
					li その他、Xelticaが不適切と判断する使用法
			section#other
				h3 その他
				ul
					li 楽曲を使用したことによって発生した諸問題や紛争につきましては、Xelticaは一切責任を負いかねます。
					li 楽曲の著作権は放棄していません。
					li 楽曲配布は、事前の予告無しに変更・停止することがございます。
					li 本規約は、事前の予告なしに変更することがございます。
			section#changelog
				h3 更新履歴
				ul
					li 2019/12/24 初版