extends ../_layout


block title
	title DotFeather - Xeltica
	+og(
		"DotFeather - Xeltica", 
		"2D ゲームの為の軽快なゲームエンジン「DotFeather」の公式サイトです。",
		"ゲームエンジン, ゲーム, GameEngine, DotFeather, C#",
		"https://raw.githubusercontent.com/Xeltica/DotFeather/master/docs/logo.png",
		false
		)
	meta(name="theme-color", content="#f44336")


block css
	+css("/css/dotfeather")

block body
	p(style="text-align: left"): a(href="../product.html") &lt; 戻る
	header#header.root
		h1 
			img(src="https://raw.githubusercontent.com/Xeltica/DotFeather/master/docs/logo.png", alt="DotFeather", height="192")
		p DotFeather は、 2Dに特化したゲームエンジンです。C# と .NET Standard 2.0 で利用できます。
		p 現在、ベータ版をリリースしています！ベータ版は一部を除いて殆どの機能が実装されているバージョンです。使ってみて、レビューをお願いします！
		
		p 
			a(href="https://github.com/xeltica/dotfeather") GitHub
			|  ・ 
			a(href="https://www.nuget.org/packages/DotFeather") Nuget

		p インストール方法: 
		pre
			code
				| dotnet add package DotFeather --version 0.8.0-beta
		p
			a(href="https://github.com/Xeltica/DotFeather/blob/master/docs/ja/index.md") ドキュメント