extends ../_layout


block title
	title DotFeather - Xeltica
	+og(
		"DotFeather - Xeltica", 
		"DotFeather は、2D ゲームの為の軽快でクロスプラットフォームなゲームエンジンです。グラフィックやオーディオ機能を手軽に扱えて便利。",
		"ゲームエンジン, ゲーム, GameEngine, DotFeather, C#",
		"https://raw.githubusercontent.com/Xeltica/DotFeather/master/docs/logo.png",
		false
		)


block css
	+css("/css/dotfeather")

block body
	p(style="text-align: left"): a(href="/") &lt; もどる
	header#header.root
		h1 
			img(src="https://raw.githubusercontent.com/Xeltica/DotFeather/master/docs/logo.png", alt="DotFeather", height="192")
		p: a(href="https://github.com/xeltica/dotfeather") Fork me on GitHub!
		hr
		p DotFeatherは　2Dに　とっかした　ゲームエンジンです。
		p C#と .NET Standard 2.0で　りようできます。
		p NuGetを　つかうと　かんたんに　インストール　できます！

		h2 インストール　ほうほう
		h3 NuGetから
		h4 さいしんばん
		pre: code.click-to-copy dotnet add package DotFeather
		h4 あんていばん (1.1.1)
		pre: code.click-to-copy dotnet add package DotFeather --version 1.1.1
		h3 ちょくせつ　ダウンロード
		p: a(href="https://www.nuget.org/packages/DotFeather") NuGetから
		p: a(href="https://github.com/Xeltica/DotFeather/releases") GitHub Releasesから
		h2 ドキュメント
		p: a(href="https://github.com/Xeltica/DotFeather/blob/master/docs/ja/index.md") つかいかた
		p: a(href="https://dotfeather.netlify.com/api") API ドキュメント
